@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom global styles BELOW this line if needed */

:root {
  /* Example optional customizations */
  --font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-primary);
}
